/* ------------------------------------------------ */
/* Esercizio 1 */
.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
/* my solution */
 .ex-1-square {
    transition: 2s;
 }
 .ex-1-square:hover {
    background-color: red;
 }
/* ------------------------------------------------ */
/* Esercizio 2 */
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}
/* my solution */
.ex-2-square {
    transition: 2s;
}
.ex-2-square:active {
    width: 100%;
}
/* ------------------------------------------------ */
/* Esercizio 3 */
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
}
/* my solution */
.ex-3-square {
    transition: 2s;
}
.ex-3-square:hover {
    border-radius: 50%;
}
/* ------------------------------------------------ */
/* Esercizio 4 */
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
}
/* my solution */
.ex-4-square {
    transition: 2s;
    opacity: 1;
}
.ex-4-square:hover {
    opacity: 0;
}
/* ------------------------------------------------ */
/* Esercizio 5 */
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}
/* my solution */
.ex-5-square {
    transition: 2s;
}
.ex-5-square:hover {
    transform: scale(2);
}
.ex-5-square:active {
    transform: scale(0.2);
}
/* ------------------------------------------------ */

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}
/* Esercizio 6 */
/* my solution */
.ex-6-img:hover {
    filter: grayscale(1);
}
/* ------------------------------------------------ */
/* Esercizio 7 */
/* my solution */
.ex-7-img {
    transition: 2s;
    transform: scale(0.5);
}
.ex-7-img:active {
    transform: scale(2);
 }
 .ex-7-img:hover {
    filter: saturate(60%) contrast(200%);
 }
/* ------------------------------------------------ */
/* Esercizio 8 */
/* my solution */
.ex-8-img {
    transition: 2s;
    border-radius: 50px;
    filter:hue-rotate(180deg) blur(2px);
}
.ex-8-img:hover {
    border-radius: 50px;
    filter:hue-rotate(0deg) blur(0px);
}
/* ------------------------------------------------ */
/* Esercizio 9 */
.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}
/* my solution */
.ex-9-img {
    transition: 4s;
    transform: scale(1);
}
.ex-9-img:hover {
    border-radius: 20px;
    filter: saturate(30%) sepia(0.2);
    transform: scale(2);
}
/* ------------------------------------------------ */
/* Esercizio 10 */
.ex-10-icon {
    font-size: 60px;
}
/* my solution */
.ex-10-icon {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
/* ------------------------------------------------ */
/* Esercizio 11 */
.ex-11-icon {
    font-size: 60px;
}
/* my solution */
.ex-11-icon:hover {
    animation: spin300 2s alternate ;
}

@keyframes spin300 {
    0% {
        transform:rotate(0deg);
    }
    80% {
        transform:rotate(300deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
/* ------------------------------------------------ */

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
/* Esercizio 12 */
/* my solution */
.ex-12-button:hover .ex-12-top-white {
    animation: top 2s linear infinite;
}

@keyframes top {
    0% {
        left: 10%;
    }
    50% {
        left: calc(100% - 80px);
    }
    100% {
        left: 10%;
    }
}
.ex-12-button:hover .ex-12-bottom-white {
    animation: bot 2s linear infinite;
}

@keyframes bot {
    0% {
        left: 10%;
    }
    50% {
        left: calc(100% - 80px);
    }
    100% {
        left: 10%;
    }
}
/* ------------------------------------------------ */
/* Esercizio 13 */
/* my solution */
.ex-13-button:hover .ex-13-top-white {
    animation: upper 2s linear;
}

@keyframes upper {
    0% {
        left: 10%;
        top: -10px;
    }
    20% {
        left: calc(100% - 30px);
        top: -10px;
    }
    40% {
        left: calc(100% - 30px);
        top: 100%;
    }
    60% {
        left: 0;
        top: 100%;
    }
    80% {
        left: -10px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}
.ex-13-button:hover .ex-13-bottom-white {
    animation: bottom 2s linear;
}

@keyframes bottom {
    0% {
        right: 20%;
        bottom: -10px;
    }
    20% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    40% {
        right: calc(100% - 30px);
        bottom: 100%; 
    }
    60% {
        right: 0;
        bottom: 100%;
    }
    80% {
        right: -10px;
        bottom: -10px;
    }
    100% {
        right: 20%; 
        bottom: -10px; 
    }
}